<!DOCTYPE html> 
<html>

	<head>
		<title>
		DH Website{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="/media/standard.css" />
	</head>

	<body>
		<div id="top">

			<a href="/index.php" title="home"><img class="logo" src="/media/pictures/DH50.png" width="50" height="50"  alt="DH"/></a><h1>Dirk-Heine Hofstede and the world wide web</h1>

		My attempt to learn more of programming by building a website.
			<p class="menu">
				<a class="nav" href="/">Home</a>|

				<a class="nav" href="/scripts/">Scripts</a>|
				
				<a class="nav" href="/photo/">Photos</a>|
				
				<a class="nav" href="http://dirkheineh.wordpress.com">Blog</a>|

				<a class="nav" href="/links/">Links</a>
			</p>
		</div>

		{% block content %}{% endblock %}

	</body>

</html>
