{% extends "header.html" %}

{% block title %} | Links {% endblock %}

{% block content %}

<h1>Links</h1>

	<h4>Interesting links</h4>

	<p>
	<strong><a href="http://www.tldp.org">The Linux Documentation Project</a></strong>
	<br />
	A very interesting site with a seemingly endless supply of information on Unix, programming and the internet.
	</p>

	<p>
	<strong><a href="http://www.chiark.greenend.org.uk/~sgtatham/bugs.html">How to Report Bugs Effectively</a></strong>
	<br />
	A must read for everyone who wants to get involved in Open Source projects or simply help out a programmer.
	</p>

	{% endblock %}
