{% extends "header.html" %}

{% block title %} | Scripts{% endblock %}

{% block content %}

	<h1>
	Scripts
	</h1>

	<p>
	For now only one script here. I didn't write much of them, which is a shame. Having <br />
	to present a bunch of scripts here in a searchable way, would be an useful exercise.
	</p>

	<h3>
	AUR make and install script
	</h3>

	<p>
	<a href="/media/scripts/aur" title="Right-click and save-as">aur</a>
	</p>

	<p>
	The Linux distro I use is Arch Linux and a few packages I have installed, come<br/>
	from the <a href="http://aur.archlinux.org">Arch User repository</a>. In order to automate the proces after downloading:<br />
	moving the tarballs to my build directory, unpacking it, executing makepkg -s and<br />
	installing it, I wrote a script.
	</p>


	<p>
	Download it, set it to executable and move it to /usr/local/bin. Don't forget to change the build and download directory variables!
	</p>

	<h3>
	FizzBuzz
	</h3>

	<p>
	<a href="/media/scripts/fizzbuzz.py" title="Right-click and save-as">fizzbuzz.py</a>
	</p>

	<p>
	A Fizzbuzz script I wrote in Python.
	</p>

	{% endblock %}
